VK_GROUP_ID=236999457
VK_ACCESS_TOKEN=vk1.
VK_API_VERSION=5.199

YANDEX_API_KEY=AQV
YANDEX_FOLDER_ID=b1

YANDEX_BASE_URL=https://ai.api.cloud.yandex.net/v1
YANDEX_EMBED_URL=https://ai.api.cloud.yandex.net/foundationModels/v1/textEmbedding

LOG_LEVEL=INFO
